<form class="form-grid">
    <div class="center-content">
        <nb-form-field>
            <label for="nomeCompleto">Nome Completo</label>
            <input disabled class="todos-inputs" id="nomeCompleto" nbInput name="nomeCompleto">
          </nb-form-field>
          <label for="nb-checkbox" style="display: flex; margin-top: 35px;  margin-left: 15px;">PJ:</label>
          <nb-checkbox disabled id="nb-checkbox" style="transform: scale(1.3); margin-top: 35px; margin-left: 20px;" status="basic"></nb-checkbox>
    </div>
    <div class="">
      <nb-form-field>
        <label for="usuarioCargo">Novo Cargo</label>
        <input disabled fullWidth class="todos-inputs" id="usuarioCargo" nbInput placeholder="" name="cargo">
      </nb-form-field>
    </div>
    <div class="div-cadastro">
    <nb-form-field class="form-field">
        <label for="departamento">Departamento</label>
        <input disabled id="usuarioDepartamento" nbInput placeholder="" name="departamento">
      </nb-form-field>
      <nb-form-field class="form-field">
        <label for="filial">Filial</label>
        <input disabled id="usuarioFilial" nbInput placeholder="" name="filial">
      </nb-form-field>
    </div>

  </form>
