nb-layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 12rem;
  margin-left: -1rem;
}

nb-card-body {
  display: flex;
  align-items: center;
}

nb-user {
  margin-left: auto; // Move o nbuser para a extrema direita dentro do nb-card-body
}

nb-menu{
  width: 96%;
}

.footer{
  z-index: 0;
}

.navbar{
  z-index: 1;
  width: 14%;
}