<div style="display: flex;">



      <nb-form-field class="form-field">
        <label for="tipo">Tipo</label>
        <nb-select for="tipo" placeholder="" name="perfis">
          <nb-option value="">Nenhum</nb-option>
          <nb-option *ngFor="let tipo of tipos" [value]="tipo.value" >
            {{tipo.viewValue}}
          </nb-option>
        </nb-select>
      </nb-form-field>


      <nb-form-field class="form-field">
        <label for="status">Status</label>
        <nb-select for="status" placeholder="" name="perfis">
          <nb-option value="">Nenhum</nb-option>
          <nb-option *ngFor="let status of Status" [value]="status.value" >
            {{status.viewValue}}
          </nb-option>
        </nb-select>
      </nb-form-field>

      <div class="center-content form-field">
        <nb-form-field style="flex: 1;">
            <label for="filial">Colaboradores</label>
            <nb-select placeholder="" name="perfis">
                <nb-option value="">Nenhum</nb-option>
                <nb-option *ngFor="let colaborador of colaboradores" [value]="colaborador.value">
                    {{colaborador.viewValue}}
                </nb-option>
            </nb-select>
        </nb-form-field>
    </div>
  
    <button nbButton class="botao-search" ><nb-icon icon="search"></nb-icon></button>
  
  </div>
  
  
  <div class="">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Nome Column -->
      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
      </ng-container>
  
      <!-- CPF Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>
  
      <!-- Telefone Column -->
      <ng-container matColumnDef="data_abertura">
        <th mat-header-cell *matHeaderCellDef> Data de Abertura </th>
        <td mat-cell *matCellDef="let element"> {{element.data_abertura}} </td>
      </ng-container>
  
      <!-- Departamento Column -->
      <ng-container matColumnDef="requerente">
        <th mat-header-cell *matHeaderCellDef> Requerente </th>
        <td mat-cell *matCellDef="let element"> {{element.requerente}} </td>
      </ng-container>

      <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element">
          <button (click)="openWindow()" nbButton outline size="small" status="warning"  style="padding:3px;">
          <nb-icon icon="eye-outline"></nb-icon>
        </button></td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page">
    </mat-paginator>
  </div>
  