<form class="form-grid">
    
    <!--
    <div class="div-cadastro" style="justify-content: center; display: flex; width: 100%; ">
        <nb-form-field style="flex: 1;">
            <label for="tipoSolicitacao">Tipo de Solicitação</label>
            <input disabled class="todos-inputs" id="tipoSolicitacao" nbInput name="tipoSolicitacao">
        </nb-form-field>
    </div>
    -->

  <div class="div-cadastro">
    <nb-form-field>
      <label for="nomeCompleto">Nome Completo</label>
      <input disabled class="todos-inputs" id="nomeCompleto" nbInput name="nomeCompleto">
    </nb-form-field>
    <nb-form-field>
      <label for="usuarioTelefone">Número de telefone</label>
      <input disabled class="todos-inputs" id="usuarioTelefone" nbInput placeholder="(00) 00000-0000" name="numero">
    </nb-form-field>
  </div>
  <div class="div-cadastro">
    <nb-form-field>
      <label for="usuarioCPF">CPF</label>
      <div style="display: flex;">
        <input disabled class="todos-inputs" id="usuarioCPF" nbInput placeholder="000.000.000-00" name="cpf">
      </div>
    </nb-form-field>
    <nb-form-field class="form-field">
      <label for="filial">Filial</label>
      <input disabled id="usuarioFilial" nbInput placeholder="" name="filial">
    </nb-form-field>
  </div>
  <div class="div-cadastro">
    <nb-form-field>
      <label for="usuarioCargo">Cargo</label>
      <input disabled class="todos-inputs" id="usuarioCargo" nbInput placeholder="" name="cargo">
    </nb-form-field>
    <nb-form-field class="form-field">
      <label for="departamento">Departamento</label>
      <input disabled id="usuarioDepartamento" nbInput placeholder="" name="departamento">
    </nb-form-field>
  </div>
  
  <label for="nb-checkbox" style="display: flex; margin-top: 9px;">PJ:</label>
  <nb-checkbox disabled id="nb-checkbox" style="transform: scale(1.9);" status="basic"></nb-checkbox>

</form>
