

<div style="max-width: 780px; min-width: 780px; max-height: 428px; min-height: 428px;  background-color: white; margin-top: 30px;  margin-left: 190px;">

  <mat-tab-group>
    <mat-tab label="Cadastrar Férias">
      <div style="margin-bottom: 18px; margin-top: 10px; margin-left: 41px;">

        <form class="form-grid">
          <div class="center-content">
            <nb-form-field style="flex: 1;">
                <label for="filial">Colaboradores</label>
                <nb-select placeholder="" name="perfis">
                    <nb-option value="">Nenhum</nb-option>
                    <nb-option *ngFor="let colaborador of colaboradores" [value]="colaborador.value">
                        {{colaborador.viewValue}}
                    </nb-option>
                </nb-select>
            </nb-form-field>
            <button nbButton style="margin-top: 34px; margin-left: 10px;">
                <nb-icon icon="search"></nb-icon>
            </button>
              <label for="nb-checkbox" style="margin-left: 40px;display: flex; top: -20px; margin-right: -18px; margin-top: 34px;">Desativar acessos:</label>
              <nb-checkbox id="nb-checkbox" style="margin-top: 38px; margin-left: 40px; transform: scale(1.7);" status="basic"></nb-checkbox>
          </div>
          
          <div class="div-cadastro">
            <nb-form-field>
              <label for="usuarioCPF">CPF</label>
              <div style="display: flex;">
                <input disabled class="todos-inputs" id="usuarioCPF" nbInput placeholder="000.000.000-00" name="cpf">
              </div>
            </nb-form-field>
            <nb-form-field class="form-field">
              <label for="usuarioCargo">Cargo</label>
              <input disabled class="todos-inputs" id="usuarioCargo" nbInput placeholder="" name="cargo">
          </nb-form-field>
          </div>
    
          <nb-card-body class="data">
            <div class="input-row">
              <div class="input-group">
                <label for="dataini">Data de Início:</label>
                <input class="dataini" nbInput for="dataini" placeholder="" [nbDatepicker]="formcontrol" [formControl]="formControl">
                <nb-datepicker #formcontrol></nb-datepicker>
              </div>
              
              <div class="input-group">
                <label for="datafim">Data final:</label>
                <input class="datafim" for="datafim" nbInput placeholder="" [nbDatepicker]="ngmodel" [(ngModel)]="ngModelDate">
                <nb-datepicker #ngmodel></nb-datepicker>
              </div>
            </div>
          </nb-card-body>
    
    
        </form>

        <button style="margin-top: 53px;" class="button" nbButton>Solicitar</button>
        </div>

    </mat-tab>
    <mat-tab label="Comentários">
      <nb-card style="height: 380px;"> <!-- Defina uma altura máxima para o card -->
        <nb-card-body style="overflow-y: auto;"> <!-- Adicione a propriedade overflow-y -->
          <div *ngFor="let comentario of comentarios">
            <nb-card>
              <nb-card-body>
                <app-user-info [name]="'Gustavo Bueno'" [title]="'FullStack Developer'"></app-user-info>
                <div>
                  <span>{{ comentario }}</span>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
        </nb-card-body>
    
        <nb-card-footer style="margin-bottom: -0px;">
          <div style="display: flex; align-items: center;">
            <input type="text" nbInput fullWidth class="input-comentario" fieldSize="giant" [(ngModel)]="mensagem" placeholder="Escreva sua mensagem">
            <button style="margin-left: 20px;" nbButton status="basic" (click)="enviarMensagem()">
              <nb-icon icon="paper-plane-outline"></nb-icon>
            </button>
          </div>
        </nb-card-footer>
      </nb-card>
    </mat-tab>
  </mat-tab-group>

</div>