<div style="max-width: 1300px; min-width: 1100px; max-height: 540px; min-height: 330px;  background-image: url('../../../../assets/img/background6.jpg'); overflow: hidden;">

  <div class="container">

      <label style="margin-top: 0px;" for="titulo">Título</label>
      <input fullWidth class="buttons" name="titulo" type="text" nbInput fieldSize="large" placeholder="">
  
    <label style="margin-top: 10px;" for="descri">Descrição</label>
    <textarea style="padding: 50px; margin-bottom: 10px;" fullWidth class="buttons" name="descri" nbInput placeholder=""></textarea>

    <div class="div-cadastro" style="margin-left: -17rem; display: flex; flex-wrap: wrap; justify-content: space-between;">

      <div style="flex-basis: 48%;">
        <label style="margin-top: 12px;" for="prioridade">Prioridade</label>
        <nb-select fullWidth class="buttons" name="prioridade" placeholder="Select Showcase" [(selected)]="selectedItemPrioridade">
          <nb-option value="0">Baixa</nb-option>
          <nb-option value="1">Normal</nb-option>
          <nb-option value="2">Média</nb-option>
          <nb-option value="3">Alta</nb-option>
          <nb-option value="4">Muito Alta</nb-option>
        </nb-select>
      </div>
    
      <div style="flex-basis: 48%;">
        <label style="margin-top: 12px;" for="categoria">Categoria</label>
        <nb-select fullWidth class="buttons" name="categoria" placeholder="Select Showcase" [(selected)]="selectedItemCategoria">
          <nb-option value="0">Relatórios</nb-option>
          <nb-option value="1">Outros Chamados</nb-option>
        </nb-select>
      </div>
    
    </div>

    <label style="margin-top: 10px;" for="anexos">Anexos</label>
    <input class="buttons" fullWidth name="anexos" nbInput type="file" (change)="anexar($event)" shape="semi-round" style="padding: 20px;">

  
    <button style="margin-top: 2rem; margin-left: 66rem"  class="buttons" nbButton>Adicionar</button>
  </div>


</div>