
<nb-card class="card-center">
    <nb-card-header>
      Solicitar Mudança de Cargo
    </nb-card-header>
    <nb-card-body>
      <form class="form-grid">
        <div class="center-content">
          <nb-form-field style="flex: 1;">
              <label for="filial">Colaboradores</label>
              <nb-select placeholder="" name="perfis">
                  <nb-option value="">Nenhum</nb-option>
                  <nb-option *ngFor="let colaborador of colaboradores" [value]="colaborador.value">
                      {{colaborador.viewValue}}
                  </nb-option>
              </nb-select>
          </nb-form-field>
          <button nbButton style="margin-top: 34px; margin-left: 10px;">
              <nb-icon icon="search"></nb-icon>
          </button>
        </div>
        <div class="">
          <nb-form-field>
            <label for="usuarioCargo">Novo Cargo</label>
            <input fullWidth class="todos-inputs" id="usuarioCargo" nbInput placeholder="" name="cargo">
          </nb-form-field>
        </div>
      <div class="div-cadastro">
        <nb-form-field class="form-field">
            <label for="departamento">Departamento</label>
            <nb-select placeholder="" name="perfis">
              <nb-option value="">Nenhum</nb-option>
              <nb-option *ngFor="let departamento of departamentos" [value]="departamento.value" >
                {{departamento.viewValue}}
              </nb-option>
            </nb-select>
          </nb-form-field>
          <nb-form-field class="form-field">
            <label for="filial">Filial</label>
            <nb-select placeholder="" name="perfis">
              <nb-option value="">Nenhum</nb-option>
              <nb-option *ngFor="let filial of filiais" [value]="filial.value" >
                {{filial.viewValue}}
              </nb-option>
            </nb-select>
          </nb-form-field>
        </div>
        <label for="nb-checkbox" style="display: flex; margin-top: 2px;">PJ:</label>
        <nb-checkbox id="nb-checkbox" style="transform: scale(1.9);" status="basic"></nb-checkbox>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button class="button" nbButton>Solicitar</button>
    </nb-card-footer>
  </nb-card>
