<nb-card size="large">
    <nb-card-header style="margin: auto;"><img src="./assets/img/cadastrodeusuario.png" alt=""></nb-card-header>
    <nb-card-body>
  
      <form #nameForm="ngForm" class="step-container">
        <div class="row">
  
          <!-- CADASTRO DE ARMAZENS ONDE SERÁ ARMAZENADO CARGAS EM AVARIAS  -->
          <div class="col-sm-6" >
  
            <div class="form-group-cte">
              <div style="display: flex !important;">
  
                <label for="usuario.nome" class="label">Nome</label>
                <label for="usuario.cpf" class="label" style="margin-left: 16rem !important;">Cargo</label>
  
              </div>
  
  
              <div style="display: flex !important;">
  
                <input type="text"  nbInput fullWidth id="usuario.nome" placeholder="" name="nomeusuario" [(ngModel)]="usuario.nome" required>
                <input      inputmode="numeric"
                nbInput
                fullWidth
                id="usuario.cargo"
                placeholder=""
                name="cargo"
                (ngModel)="usuario.cargo" required
                mask=""
                style="margin-left: 5px"
                >
  
  
              </div>
  
              <label for="usuario.email" class="label">E-mail</label>
              <input type="text" nbInput fullWidth id="usuario.email" placeholder="" name="email" [(ngModel)]="usuario.email" required>
  
  
              <label for="usuario.senha" class="label">Senha</label>
              <input type="password" nbInput fullWidth id="usuario.senha" placeholder="" name="senha" [(ngModel)]="usuario.senha" required>
              <!-- Opções de Status-->
  
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label">Perfil de:</label>
                </div>
              </div>
  
              <nb-select fullWidth id="usuario.perfil" placeholder="Selecione o tipo" class="nb-select" [(ngModel)]="usuario.perfil" name="perfil" required>
                <nb-option>Nenhuma das alternativas</nb-option>
                <nb-option value="role_usuario">Usuário</nb-option>
                <nb-option value="role_dp">Departamento Pessoal</nb-option>
                <nb-option value="role_ti">Departamento T.I</nb-option>
                <nb-option value="role_administrador">Administrador</nb-option>
              </nb-select>
  
            </div>
  
            <div>
              <button nbButton fullWidth (click)="create()" status="success">Cadastrar</button>
            </div>
  
          </div>
        </div>
  
      </form>
  
    </nb-card-body>
  </nb-card>
